
@font-face {
    font-family: "disket-regular";
    src: url("../../fonts/Disket-Mono-Regular.ttf") format("truetype");
      }
 @font-face {
        font-family: "disket-bold";
        src: url("../../fonts/Disket-Mono-Bold.ttf") format("truetype");
          }
body {
    background-color: black;
    font-family: disket-regular;
    color: white;
 
    
    
}
a:link {
  text-decoration: none;
  
}
#pcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

#ad{
  display: flex;
  justify-content: center;
  animation: opacity 2s ease-in;
  mix-blend-mode: difference;
  
}
.pn {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 12pt;
  animation: typing 5s steps(60,end);
}
#p1 {
  /* opacity: 0; */
  font-size: 50pt;
  display: flex;
  padding: 0% 20% 5% ;
  align-items: left;
  animation: opacity 2s ease-in;
  
}

#p2 {
  /* opacity: 0; */
  display: flex;
  padding: 0% 20% 0% ;
  align-items: left;
  animation: opacity 5s ease-in;
} 
div.objcont {
  font-family: disket-bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
  height: 20vh;
  margin-bottom:0% ;
  padding: 0% 25% 25% ;
  align-items: left;
  font-size: 25px;
  mix-blend-mode: difference;
  color: #ED6C6C;
  
  
}
div.obj3 {
  font-family: disket-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
  height: 5vh;
  margin-bottom:0% ;
  padding: 0% 25% 25% ;
  align-items: left;
  font-size: 25px;
  mix-blend-mode: difference;
  color: #FF6DF9;
  
  
  
}

.txtCont {
  display: grid;
  opacity: 0;
  margin: 10%;
  grid-template-columns: 50% 50%;
  margin-bottom: 25%;
  transition: .5s;
  mix-blend-mode: difference;
}
  
.yn2 {
  font-family: disket-regular;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  width: auto;
  height: 5vh;
  margin-bottom:50% ;
  padding: 20% 05% 25% ;
  align-items: left;
  font-size: 30px;
  mix-blend-mode: differenece;
  color: #00F7F7;
  
  
  

}
 


.mono {
  grid-column: 1;
  mix-blend-mode: difference;
}

#msgs {
  grid-column: 2;
  mix-blend-mode: difference;
}
#ctname {
  text-align: center;
  margin-bottom: 10%;
}

div.obj4 {
  font-family: disket-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
  height: 5vh;
  margin-bottom:0% ;
  padding: 20% 25% 25% ;
  align-items: left;
  font-size: 25px;
  mix-blend-mode: difference;
  color: #00F7F7;
  
  
  
}

div.obj5 {
  font-family: disket-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: auto;
  height: 5vh;
  margin-bottom:50% ;
  padding: 20% 05% 25% ;
  align-items: left;
  font-size: 30px;
  mix-blend-mode: differenece;
  color: #00F7F7;
  
  
  
}


.typed-out{
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 1s forwards;
}

div.nt1 {
  font-family: disket-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 5vh;
  margin-bottom:0% ;
  padding: 20% 25% 15% ;

  font-size: 30px;
  mix-blend-mode: difference;
  color: #f6c84b;
  
  
  
}

.msgRc1{
  display: inline-block;
  font-family: disket-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 5vh;
  margin-bottom:0% ;
  padding: 0% 0% 15% ;
  align-items: right;
  text-align: right;
  font-size: 30px;
  mix-blend-mode: difference;
  color: #ED6C6C;
}

.msgSn1{
  display: inline-block;
  font-family: disket-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 5vh;
  margin-bottom:0% ;
  padding: 0% 0% 15% ;
  align-items: left;
  text-align: left;
  font-size: 30px;
  mix-blend-mode: difference;
  color: white;
}

#msgNt1 {

  margin: 2%;
  color: black;
  background-color: #f6c84b;
  animation: blink5 .5s linear infinite;
  filter: drop-shadow(5px 2px 3px #FF6DF9);
  transition: .5s;
}

#msgNt1:hover {
  cursor: pointer;
  
  margin: 5%;
  color: black;
 
  background-color: white;
  filter: drop-shadow(5px 1px 3px #FF6DF9);
  
}


#n3, #y2 {

  margin: 2%;
  color: black;
  background-color: #f6c84b;
  animation: blink5 .5s linear infinite;
  filter: drop-shadow(5px 2px 3px #FF6DF9);
  transition: .5s;
}

#n3:hover, #y2:hover {
  cursor: pointer;
  
  margin: 5%;
  color: black;
 
  background-color: white;
  filter: drop-shadow(5px 1px 3px #FF6DF9);
  
}


.obj2{
  font-family: disket-bold;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
  z-index: 1;
  padding: 25% 25% 10% ;
  margin-bottom: 10%;
  align-items: left;
  font-size: 50pt;
  mix-blend-mode: exclusion;
  color: #FF6DF9;
  filter: drop-shadow(2px 2px 3px rgb(249, 198, 246));
}

.txt1{
  color: green;
  mix-blend-mode: exclusion;
  background-color: #ED6C6C;
  background-blend-mode: exclusion;
  filter: drop-shadow(1px 1px 3px #44dda0);
  
}

.txt2{
  color: #00F7F7;
  mix-blend-mode: exclusion;
  background-color: #6600ff;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #44dda0);
  animation: shift 1s infinite;
}

.txt3{
  color: #44dda0;
  mix-blend-mode: exclusion;
  background-color: #6600ff;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #44dda0);
  
}

.d1, .d2, .d3 {
  color: #6600ff;
  mix-blend-mode: exclusion;
  background-color: #FF6DF9;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #44dda0);
  
}

.d1:hover, .d2:hover, .d3:hover{
  color: #ED6C6C;
  mix-blend-mode: exclusion;
  background-color: white;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #6600ff);
  animation: shift 1s ;
}


#y1, #n2 {
  color: #6600ff;
  mix-blend-mode: exclusion;
  background-color: #FF6DF9;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #44dda0);
 
  
}
#yn1 {
  display: none;
}

#y1:hover, #n2:hover{
  color: #ED6C6C;
  mix-blend-mode: exclusion;
  background-color: white;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #6600ff);
  animation: shift 1s ;
}

#d1c {
  display: inline;
}

.n1 {
  font-size: 25pt;
  color: #6600ff;
  mix-blend-mode: exclusion;
  background-color: #FF6DF9;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #44dda0);
  animation: shift 1s infinite;
}

.n1:hover {
  color: #ED6C6C;
  mix-blend-mode: exclusion;
  background-color: white;
  background-blend-mode: exclusion;
  filter: drop-shadow(4px 4px 2px #6600ff);
  animation: shift 1s infinite;
}

.pt2{
  transition: 1s;
}
#toPast {
  animation: blink .5s infinite;
}
#toPast:hover {
  color: white;
  border: 3pt solid white;
  animation: intial;
  cursor: pointer;
  border-radius: 20% 10% / 10% 400%;
}
.txtRun { 
  color: green;
  mix-blend-mode: exclusion;
  background-color: #ED6C6C;
  background-blend-mode: exclusion;
  filter: drop-shadow(1px 1px 3px #44dda0);
  font-family: disket-bold;
  font-size: 0pt;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-bottom: 100%;
}

#vid2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: invert(1);
  z-index: -1;
  background-blend-mode: difference;
 
  
  
}#vid3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 1s;
  
}

#vid4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 1s;
  filter: saturate(200%);
}
#go {
  color: green;
  animation: blink .3s infinite ease-in-out;
  
  
}

#go:hover {
  color: white;
  animation: intial;
  cursor: pointer;
}

#run {
  margin: 10pt;
  color: black;
  display: none;
  animation: blink2 .5s infinite ease-in-out;
  transition: .5s;
}

#run:hover {
  color: white;
  border: 3pt solid white;
  animation: intial;
  cursor: pointer;
  border-radius: 50% 20% / 10% 40%;
}
#cont { 
  margin: 20%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  animation: blink2 .3s infinite ;
  display: none;
}

#cont:hover {
  background: none;
  color: white;
  border: 1px solid white;
  animation: none;
}
.menu {
  display: flex;
  justify-content:space-between;
  margin: 10pt;
  font-size: 10pt;
  z-index: 1;
  position: relative;
  mix-blend-mode: difference;
  
}

#back1 {
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200;
    text-align: center;
    position: top, left;
}
#back2 {
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200;
    text-align: center;
    position: top, left;
}

#vid1 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;

}

#btn1 {
    display: flex;
    justify-content: center;
    margin: 10% auto;
    text-transform: uppercase;
    background: #000;
    cursor: pointer;
    font-size: 100pt;
    animation: blink .3s infinite linear;
    z-index: 0;
}

#back1 {
  position: fixed;
}

#back2 {
  position: fixed;
}
.display{
  cursor: pointer;
}
button {

    font-family: disket-regular;
    color: white;
    background: none;
    border: 5px solid white;
    
   
   
}

button:hover {
    color: white;
    background: #ED6C6C;
    border: 5px solid #ED6C6C;

    
}


.ptxt {
  white-space: nowrap;
  justify-content: center;
  text-align: center;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: disket-regular;
  display: flex;
  overflow: hidden;
  z-index: 1;
}

.container {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.container.fade {
  opacity: 1;
  z-index: -1;
}

.fbtn {  
  border: 2px solid ;
}

.vol {
  
  border: 2px solid ;
}

.fbtn:hover {
  color: #000;
  border: 2px solid #ED6C6C;}

.vol:hover {
  color: #000;
  border: 2px solid #ED6C6C;}

.animated {
  animation: shift 1s;
}

.animated2 {
  animation: blink4 .2s infinite ;
}
@media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    video {
      width: auto;
      height: 100%;
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
   
  @keyframes opacity{
    0%{
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes blink{
    0%{}
    100% {
      
      color: black;
    }
  }
  @keyframes blink2{
    0%{}
    100% {
      background-color: white;
      color: black;
    }
  }
  @keyframes on{
    0%{
      
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes blink3{
    0%{}
    100% {
      color: green;
      background-color: #ED6C6C;
    }
  }

  @keyframes blink4{
    0%{}
    100% {
      background-color: green;
      color: #ED6C6C;
    }
  }
  
  @keyframes blink5{
    0%{}
    100% {
      border: 2px solid #FF6DF9;
      background-color: white;
      color: #FF6DF9;
    }
  }

  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       transform: skewX(0deg);
    }
 
    41% {
       transform: skewX(10deg);
    }
 
    42% {
       transform: skewX(-10deg);
    }
 
    59% {
       transform: skewX(40deg) skewY(10deg);
    }
 
    60% {
       transform: skewX(-40deg) skewY(-10deg);
    }
 
    63% {
       transform: skewX(10deg) skewY(-5deg);
    }
 
    70% {
       transform: skewX(-50deg) skewY(-20deg);
    }
 
    71% {
       transform: skewX(10deg) skewY(-10deg);
    }
 }
